.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f3e5d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", serif;
}

img {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 12px;
}
.content {
    width: 40%;
    padding: 20px 20px 0px 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
}
h3 {
    color: #7c4735;
}
h5 {
    color: hsl(332, 51%, 32%);
}
#preparation {
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
}

.words {
    height: 17px;
    border-bottom: 1px solid gray;
    
}
.numbers {
    height: 3px;
    position: relative;
    left: 50%;
    bottom: 35px;
}
